@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
  }
  body{
    /* background-color: #0e1111; */
    color: white;
    background-color: #1D1D1D;
/* background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); */
  }
  ::-webkit-scrollbar-track {
    background: white; 
  }
  ::-webkit-scrollbar {
    width:.4rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6d6f6f; 
    border: 2px solid transparent;
    border-radius: 23px;
    height: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  @media screen and (max-width: 1050px) {
body{
  overflow-x: hidden;
}
    .app-container {
      flex-direction: column;
    }
    .profile{
     position: static;
    }
    .sidebar {
      display: block;
      margin: auto;
      width: 0vw;
    }
    .menu{
      display:none
    }
    .aboutpara{
      font-weight: 700;
    font-size: 3.1rem;
    }
    .Project{
      flex-direction: column;
      width: 359px;
      height: 800px;
      padding: 12px;
      justify-content: center;
      align-items: baseline;
    }
    .des{
      font-size: 12px;
    }
    .paraw{
      width: 275px;
    }
    
  }
