@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
  }
  body{
   overflow-x: hidden;
    color: white;
    background-color: #1D1D1D;
/* background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); */
  }
  ::-webkit-scrollbar-track {
    background: white; 
  }
  ::-webkit-scrollbar {
    width:.4rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6d6f6f; 
    border: 2px solid transparent;
    border-radius: 23px;
    height: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  @media screen and (max-width: 1050px) {
    *{
      margin: 0;
      padding: 0;
    }
body{
  overflow-x: hidden;
}
    .app-container {
      flex-direction: column;
    }
    .profile{
     position: static;
    }
    .sidebar {
    
      margin-left: -22px;
    }
    .menu{
      display:none
    }
    .aboutpara{
      font-weight: 700;
    font-size: 3.1rem;
    }
    .Project{
      flex-direction: column;
      width: 384px;
      height: 650px;
      padding:  0px 5px;
      justify-content: center;
   margin: 0px;
    }

    .paraw{
    
    }
    .content{
  width: 294px;
     margin: 21px;
    }
    .aboutpara{
      font-size:12px;
    }
    .intropara{
      font-size: 20px;
    }
    .skill{
      padding: 10px;
      border-radius: 3px;
      height: 100px;
      width: 150px;
    }
    .skillname{
      font-size: 33px;
    }
    .skillsdiv{
      justify-content: center;
    }
    .Projectimg{
      display: flex;
      justify-content: center;
    }
    .Project{
      width: 250px;
    }
    .projectimage{
    
    }
    .carousel .slide img {
      width: 61%;
      vertical-align: top;
      border: 0;
  }
  .Project{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .projectbtn{
    padding: 4px;
  }
  }
